<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Sunflower:300,700" rel="stylesheet">
    <title>Sign up</title>
</head>
<body>
    <img src="images/logo.png" alt="logo" id="imgSmall">

    <div id="pageBody">
        <h1 id="title">TITLE GOES HERE</h1>

        <img src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" id="imgLarge">

        <form action="/users" method="post" class="signUp" enctype="multipart/form-data">
            <h2 id="subtitle">SUBTITLE GOES HERE</h2>

            <p id="text">
                Lorem ipsum dolor sit amet, his fugit dicant pericula in, sea modus doming aliquam no, no viderer similique mea.
            </p>

            <input type="text" name="firstName" class="button" id="firstName" placeholder="First name" required>
            <input type="text" name="lastName" class="button" id="lastName" placeholder="Last name" required>
            <input type="text" name="emailAddress" class="button" id="emailAddress" placeholder="Email address" required>

            <input type="submit" id="submitBtn" value="Sign up">

            <a href="" id="termsConditions">Terms and conditions</a>
        </form>

    </div>
</body>
</html>